<div class="mg-border-left mg-row-border-top mg-bottom-row"></div>
<div id="global-settings" class="options-panel span-6 mg-row-border-top mg-bottom-row">
    <div class="panel flex-row globals-grid">
        <div class="panel-title flex-row">
            <span>Global settings</span>
            <div class="menu-entry">
                <a href="#" id="toggle-global-lock">
                    <i id="global-lock-opened" class="fas fa-lock-open icon-btn closed" aria-hidden="true"></i>
                    <i id="global-lock-closed" class="fas fa-lock icon-btn" aria-hidden="true"></i>
                </a>
                <div class="tooltip tooltip-top hidden">
                    Lock/Unlock the global settings editing.<br />They are locked by default to prevent any unwanted change.
                </div>
            </div>
        </div>
        <div id="global-0" class="global-setting-toggle">
            <span class="value-off hidden">Mono in</span>
            <span class="value-on">Stereo in</span>
        </div>
        <div id="global-1" class="global-setting-toggle">
            <span class="value-off hidden">Instrument level</span>
            <span class="value-on">Line level</span>
        </div>
        <div id="global-2" class="global-setting-toggle">
            <span class="value-off hidden">Buffered bypass</span>
            <span class="value-on">Relay bypass</span>
        </div>
        <div id="global-3" class="global-setting-toggle">
            <span class="value-off hidden">Dry active</span>
            <span class="value-on">Dry muted</span>
        </div>
        <div id="global-4" data-mask="2" class="global-setting-toggle">
            <span class="value-off hidden">Trail off</span>
            <span class="value-on">Trails on</span>
        </div>
        <div id="global-5" class="global-setting-toggle">
            <span class="value-off hidden">Global tempo</span>
            <span class="value-on">Preset tempo</span>
        </div>
        <div class="menu-entry">
            <a href="#" id="refresh-global-settings" title="Read the global settings from Mercury7">
                <i class="fas fa-sync-alt"></i>
            </a>
            <div class="tooltip tooltip-top tooltip-left hidden">
                Refresh the Global Settings by reading them from the Mercury7.
            </div>
        </div>
    </div>
</div>
<div class="mg-border-right mg-row-border-top mg-bottom-row"></div>