<div class="menu middle">
    <!--    <span id="url-auto-toggle" class="paused" title="When ON, update the URL every 500ms."><span id="REC-text">REC </span><i class="fas fa-circle"></i></span>-->
    <div class="menu-entry">
        <a id="menu-init" href="#">
            <i class="fa fa-bolt" aria-hidden="true"></i>
            <span class="menu-text menu-bold">INIT</span>
        </a>
        <div class="tooltip hidden">
            Reset all controls to predefined default values.<br />
            Keyboard shortcut: (I)<br />
            &nbsp;<br />
            Ctrl+click to set current values as INIT default.
        </div>
    </div>
    <div class="menu-entry">
        <a id="menu-randomize" href="#">
            <i class="fa fa-random" aria-hidden="true"></i>
            <span class="menu-text menu-bold">RANDOMIZE</span>
        </a>
        <div class="tooltip hidden">
            Set random values for all controls. (R)
        </div>
    </div>
    <div class="menu-entry">
        <a id="menu-bookmark" href="#">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
            <span class="menu-text menu-bold">ADD TO LIB</span>
        </a>
        <div class="tooltip hidden">
            Save the current settings in the preset library.
        </div>
    </div>
    <div class="menu-entry">
        <a id="menu-save" href="#">
            <i class="fa fa-save" aria-hidden="true"></i>
            <span class="menu-text menu-bold">SAVE</span>
        </a>
        <div class="tooltip hidden">
            Save the current settings in Mercury7 Memory, with the currently selected Preset number.
        </div>
    </div>
    <div class="menu-entry">
        <a id="menu-print-preset" href="#">
            <i class="fa fa-print" aria-hidden="true"></i>
            <span class="menu-text menu-bold">PRINT</span>
        </a>
        <div class="tooltip hidden">
            Open a popup window with the currents settings displayed for printing (or saving as PDF).
        </div>
    </div>
</div>
<div class="menu right">
    <!--<span class="menu-entry"><a id="menu-read" href="#" title="Read the current preset from the Mercury7 and update the editor."><i class="fas fa-upload"></i> <span class="menu-text">Read</span></a></span>-->
    <!--    <span class="menu-entry"><a id="menu-get-url" href="#" title="Update the editor's URL with the current values. This makes a 'bookmarkable preset'."><i class="far fa-bookmark" aria-hidden="true"></i> <span class="menu-text">URL</span></a></span>-->

<!--
    <div class="menu-entry">
        <a id="menu-midi" href="#" title="Open a popup displaying all the MIDI messages exchanged between the editor and the Mercury7.">
            <i class="fas fa-exchange-alt" aria-hidden="true"></i> <span class="menu-text">Midi</span>
        </a>
    </div>
-->

    <!--    <span class="menu-entry"><a id="menu-global" href="#" title="Display and edit the Global Settings of the Mercury7."><i class="fas fa-cog" aria-hidden="true"></i> <span class="menu-text">Global</span></a></span>-->

    <div class="menu-entry mr-10">
        <a id="menu-toggle-tooltip" href="#" class="inactive">
            <i class="far fa-comment-alt"></i>
        </a>
        <div class="tooltip tooltip-center tooltip-always hidden">
            When enabled, a tooltip will be displayed when you hover over a command.
        </div>
    </div>
    <div class="menu-entry">
        <a id="menu-help" href="https://studiocode.dev/doc/mercury7-editor/" target="_blank" rel="noopener">
            <span class="menu-text">Doc</span>
        </a>
        <div class="tooltip tooltip-left hidden">
            Open the Editor's documentation in a new window/tab.
        </div>
    </div>
<!--
    <div class="menu-entry">
        <a id="menu-about" href="#" title="About this editor.">
            <span class="menu-text">About</span>
        </a>
    </div>
-->
    <!--&#x3f;-->
    <div class="menu-entry">
        <a id="menu-size-out" href="#" title="Make the editor smaller."><i class="fas fa-search-minus" aria-hidden="true"></i></a>
        <div class="tooltip tooltip-left hidden">
            Make the application window smaller.
        </div>
    </div>
    <div class="menu-entry">
        <a id="menu-size-in" href="#" title="Make the editor bigger."><i class="fas fa-search-plus" aria-hidden="true"></i></a>
        <div class="tooltip tooltip-left hidden">
            Make the application window bigger.
        </div>
    </div>
</div>
