<svg xmlns="http://www.w3.org/2000/svg" width="1" height="0" style="display:block">
    <defs>
        <linearGradient id="grad" gradientTransform="rotate(65)">
            <stop offset="0%" stop-color="#555" />
            <stop offset="95%" stop-color="#222" />
        </linearGradient>
    </defs>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="1" height="0" style="display:block">
    <defs>
        <linearGradient id="grad2" gradientTransform="rotate(65)">
            <stop offset="20%" stop-color="#555" />
            <stop offset="95%" stop-color="#000" />
        </linearGradient>
    </defs>
</svg>
