html {

    color: #eeeeee;

    /* http://www.0to255.com/0059d7 */

    --mercury7-blue: #a28700;

    --neon: #ffffff;

    --body-bg-color: #111111;

    --tooltip-bg-color: #e8f1ff;
    --tooltip-color: #000;

    --messages-bg: #0000003b;
    --messages-color: #ddd;
    --messages-border: #999;

    --value: #f9d000;
    --dialog-link: #fff;
    --dialog-bg-color: rgba(0, 0, 0, 0.80);
    --dialog-small-button-color: #333;
    --panel-link: blue;

    --knob-back-border: #999;
    --knob-value: #ddd;

    --body-bg-from: #202023;
    --body-bg-to: #3E3E46;

    --title-text: #fff;
    --header-text: #fff;
    --header-shortcut-text: #ccc;

    --menu-icon: #a4caff;
    --menu-text: #a4caff;
    --menu-text-hover: #fff;

    --menu-link: #ffffff;

    --preset-icon: #61410c;    /* TODO */

    --bt-color: #cec5ff;
    /*--bt-bg-color: rgba(255, 251, 177, 0.25);*/
    --bt-bg-color: rgba(0, 61, 148, 0.3);
    --bt-border: #71acff;
    --bt-hover-color: #ffffff;
    --bt-hover-bg-color: #4f98ff;
    --bt-on-color: #ffffff;
    --bt-on-bg-color: #60a2ff;
    --bt-on-border: #cec5ff;

    --sw-color: #b3a1f1;
    --sw-on-color: #fff;
    --sw-on-shadow-color: #fff;

    --inset-shadow-color: #070707;

    /*--select-color: #e8f1ff;*/
    --select-bg: #cec5ff;
    --select-border: #71acff;

    --on-color: #000;
    --midi-on: #fff;
    --paused: #b3a1f1;   /*#706c58;*/
    --running: red;

    --option-panel-header-color: #e8f1ff;
    --option-panel-header-border: #ccc;
    --global-setting-enabled-color: #fff;

    --preset-sel-bg-color: #ff00001A;
    --preset-descr-bg-color: rgba(0, 61, 148, 0.3);
    --preset-selector-bg-color: rgba(0, 61, 148, 0.3);
    --preset-editor-over-bg-color: white;

    --progress-bar-border: 1px solid black;
    --progress-bar-bg-color: #f1d09c;

    --read-preset-progress-color: #000000;
    --read-preset-progress-bg1: #AECDFC;
    --read-preset-progress-bg2: #111111;
}

a {
    color: var(--menu-link);
}

.app-title {
    color: var(--header-shortcut-text);
}

.app-title a {
    color: var(--menu-text);
}

.glow {
    color: #ddf6ff!important;
    text-shadow: 0 0 12px #ffffff;
}

#main-grid {
    background-color: #0059d7;
    background: url("img/bg-logo-opacity5.png"), linear-gradient(to right, #60a2ff, #0059d7 1%, #0059d7 99%, #60a2ff);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#main-grid > div {
    background: transparent;
}

#C5 {
    padding-bottom: 10px;
}

.mg-row-border-top {
    border-top: 1px solid #4b80c8;
}
.mg-row-border-bottom {
    border-bottom: 1px solid #252e64;
}

/*noinspection CssUnusedSymbol*/
.knob-bg {
    fill: url("#grad2");
    stroke: #000;
}

.slider-value {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 125%;
    color: #fff;
}

.menu-bold {
    font-weight: 400!important;
}

.preset.sel {
    color: var(--bt-on-color)!important;
}