<div class="mg-border-left mg-row-border-top controls-row"></div>
    <!--
        SPACE DECAY
    -->
    <div id="A1" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="16">
            <div class="header-shortcut hidden">[C,V]</div>
            <div>space decay</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-16"></svg>
        </div>
    </div>
    <!--
        MODULATE
    -->
    <div id="A2" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="17">
            <div class="header-shortcut hidden">[F,G]</div>
            <div>modulate</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-17"></svg>
        </div>
    </div>
    <!--
        PITCH VECTOR
    -->
    <div id="A3" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="20">
            <div>PITCH VECTOR</div>
        </div>
        <div id="cc-23-options" class="grid-3x2 controls-options-grid">
            <div id="cc-20-33" class="bt">P DN</div>
            <div id="cc-20-81" class="bt">P UP</div>
            <div id="cc-20-1" class="bt">- OCT</div>
            <div id="cc-20-109" class="bt">+ 5TH</div>
            <div id="cc-20-0" class="bt">OFF</div>
            <div id="cc-20-127" class="bt">SHIM</div>
        </div>
    </div>
    <!--
        LO FREQ
    -->
    <div id="A4" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="19">
            <div class="header-shortcut hidden">[DEL,B,N]</div>
            <div>LO FREQ</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-19"></svg>
        </div>
    </div>
    <!--
        HI FREQ
    -->
    <div id="A5" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="21">
            <div class="header-shortcut hidden">[-,+]</div>
            <div>HI FREQ</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-21"></svg>
        </div>
    </div>
    <!--
        MIX
    -->
    <div id="A6" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="18">
            <div class="header-shortcut hidden">[Y,X]</div>
            <div>mix</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-18"></svg>
        </div>
    </div>
<div class="mg-border-right mg-row-border-top controls-row"></div>

<div class="mg-border-left controls-row"></div>
    <!--
        PREDELAY
    -->
    <div id="B1" class="grid-default controls-row">
        <div class="header exp infos" data-infos="22">
            <div class="header-shortcut hidden">[O]</div>
            <div>predelay</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-22"></svg>
        </div>
    </div>
    <!--
        MOD SPEED
    -->
    <div id="B2" class="grid-default controls-row">
        <div class="header exp infos" data-infos="23">
            <div>MOD SPEED</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-23"></svg>
        </div>
    </div>
    <!--
        ATTACK TIME
    -->
    <div id="B3" class="grid-default controls-row">
        <div class="header exp infos" data-infos="26">
            <div class="header-shortcut hidden">[H,J]</div>
            <div>ATTACK TIME</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-26"></svg>
        </div>
    </div>
    <!--
        DENSITY
    -->
    <div id="B4" class="grid-default controls-row">
        <div class="header exp infos" data-infos="25">
            <div class="header-shortcut hidden">[Z,U]</div>
            <div>DENSITY</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-25"></svg>
        </div>
    </div>
    <!--
        VIBRATO DEPTH
    -->
    <div id="B5" class="grid-default controls-row">
        <div class="header exp infos" data-infos="27">
            <div>VIBRATO DEPTH</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-27"></svg>
        </div>
    </div>
    <!--
        PITCH VECTOR MIX
    -->
    <div id="B6" class="grid-default controls-row">
        <div class="header exp infos" data-infos="24">
            <div class="header-shortcut hidden">[K,L]</div>
            <div>PITCH V. MIX</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-24"></svg>
        </div>
    </div>
<div class="mg-border-right"></div>

<div class="mg-border-left mg-row-border-bottom pb-5"></div>
    <!--
        SWELL
    -->
    <div id="C1" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="28">
            <div class="header-shortcut hidden">[S]</div>
            <div>SWELL</div>
        </div>
        <div class="controls">
            <div class="stompswitch">
                <!--
                                        <div id="cc-28-127" class="swm">
                                            <i id="cc-28-127-off" class="fas fa-circle" aria-hidden="true" title="click to switch on"></i>
                                            <i id="cc-28-127-on" class="sw-off sw-on fas fa-circle" aria-hidden="true" title="click to switch off"></i>
                                        </div>
                -->
                <div id="cc-28-127" class="sw"><i class="fas fa-circle" aria-hidden="true" title="click to switch on"></i></div>
                <div id="cc-28-0" class="sw sw-off sw-on"><i class="fas fa-circle" aria-hidden="true" title="click to switch off"></i></div>
            </div>
        </div>
    </div>
    <!--
        empty slot
    -->
    <div class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
    </div>
    <!--
    -->
    <div id="C2C3" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div id="control-infos">
        </div>
    </div>
    <!--
        ALGORITHM
    -->
    <div id="C4" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="29">
            <div>ALGORITHM</div>
        </div>
        <div id="cc-29-options" class="grid-2x1 controls-options-grid">
            <div id="cc-29-0" class="bt">ULTRAPLATE</div>
            <div id="cc-29-127" class="bt">CATHEDRA</div>
        </div>
    </div>
    <!--
        EXP
    -->
    <div id="C5" class="grid-default mg-last-row mg-row-border-bottom controls-row">
        <div class="header infos" data-infos="4">
            <div>EXP</div>
        </div>
        <div class="exp_wrapper">
            <div id="exp-a1"></div>
            <div id="exp-a2" class="slider-combo">
                <svg id="cc-4" class="slider"></svg>
            </div>
            <div id="exp-close" class="exp-switch"><div class="btx" id="exp-close-bt" title="Click to switch to edit the EXP (toe-down) values">toe</div></div>
            <div id="exp-open">heel</div>
            <div id="cc-4-value" class="slider-value"></div>
            <div id="exp-copy" class="btx" title="Click to copy the heel (normal) values to the toe values.">copy</div>
        </div>
    </div>
    <!--
        BYPASS
    -->
    <div id="C6" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="14">
            <div class="header-shortcut hidden">[SPACE]</div>
            <div>bypass</div>
        </div>
        <div class="controls">
            <div class="stompswitch">
                <div id="cc-14-127" class="sw"><i class="fas fa-circle" aria-hidden="true" title="click to switch on"></i></div>
                <div id="cc-14-0" class="sw sw-off sw-on"><i class="fas fa-circle" aria-hidden="true" title="click to switch off"></i></div>
            </div>
        </div>
    </div>
<div class="mg-border-right mg-last-row mg-row-border-bottom controls-row pb-5"></div>