<div id="credits-dialog" class="dialog lity-hide">
    <a href="https://github.com/francoisgeorgy/mercury7-web-editor">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
             src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
             alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    <div style="font-size:2rem;font-weight:bold">
        Mercury7 Editor <span class="version"></span> by <a href="https://studiocode.dev/" target="_blank" rel="noopener">StudioCode.dev</a>
    </div>
    <p>
        <i class="fas fa-exclamation-triangle"></i>
        Still under active development. Feel free to log bugs/issues.
    </p>
    <p>Mercury7 Editor is under <strong>GNU General Public License v3.0</strong>. <a href="https://github.com/francoisgeorgy/mercury7-web-editor/blob/master/LICENSE" target="_blank" >View license</a>.</p>
    <h1 style="margin-top:20px">Credits</h1>
    <p>This editor uses the following Open Source components:</p>
    <ul>
        <li><a href="https://github.com/cotejp/webmidi" target="_blank" rel="noopener">WebMidi.js</a> helps you tame the <a href="https://www.w3.org/TR/webmidi/" target="_blank">Web MIDI API</a>.</li>
        <li><a href="https://github.com/francoisgeorgy/svg-knob" target="_blank" rel="noopener">svg-knob</a>: a flexible and customizable knob for your web applications.</li>
        <li><a href="http://sorgalla.com/lity/" target="_blank" rel="noopener">Lity</a>: a lightweight, accessible and responsive lightbox.</li>
        <li><a href="https://jquery.com/" target="_blank" rel="noopener">jQuery</a>: a fast, small, and feature-rich JavaScript library.</li>
        <li><a href="https://yarnpkg.com/en/package/rxjs" target="_blank" rel="noopener">RxJS</a>: reactive Extensions for modern JavaScript .</li>
        <li><a href="https://yarnpkg.com/en/package/storejs" target="_blank" rel="noopener">storejs</a>: local storage localstorage package provides a simple API.</li>
        <li><a href="https://github.com/DamonOehlman/detect-browser" target="_blank" rel="noopener">detect-browser</a>: unpack a browser type and version from the useragent string.</li>
        <li><a href="http://fontawesome.io/" target="_blank" rel="noopener">Font Awesome</a>: the iconic font and CSS toolkit.</li>
        <li><a href="https://fonts.google.com/specimen/Roboto" target="_blank" rel="noopener">Roboto font</a> by Google.</li>
    </ul>
    <p class="trademarks">
        This editor is not endorsed by, directly affiliated with, maintained, or sponsored by Meris.<br />
    </p>
</div>