<div class="mg-border-left mg-row-border-top mg-row-border-bottom py-10"></div>
<div id="presets" class="span-6 mg-row-border-top mg-row-border-bottom py-10">

    <div class="presets-left-col">

        <div class="presets-selectors pedal flex-grow">
            <div id="pc-1" class="preset preset-id">1<span class="dirty-dot">&bull;</span></div>
            <div id="pc-2" class="preset preset-id">2<span class="dirty-dot">&bull;</span></div>
            <div id="pc-3" class="preset preset-id">3<span class="dirty-dot">&bull;</span></div>
            <div id="pc-4" class="preset preset-id">4<span class="dirty-dot">&bull;</span></div>
            <div id="pc-5" class="preset preset-id">5<span class="dirty-dot">&bull;</span></div>
            <div id="pc-6" class="preset preset-id">6<span class="dirty-dot">&bull;</span></div>
            <div id="pc-7" class="preset preset-id">7<span class="dirty-dot">&bull;</span></div>
            <div id="pc-8" class="preset preset-id">8<span class="dirty-dot">&bull;</span></div>
            <div id="pc-9" class="preset preset-id">9<span class="dirty-dot">&bull;</span></div>
            <div id="pc-10" class="preset preset-id">10<span class="dirty-dot">&bull;</span></div>
            <div id="pc-11" class="preset preset-id">11<span class="dirty-dot">&bull;</span></div>
            <div id="pc-12" class="preset preset-id">12<span class="dirty-dot">&bull;</span></div>
            <div id="pc-13" class="preset preset-id">13<span class="dirty-dot">&bull;</span></div>
            <div id="pc-14" class="preset preset-id">14<span class="dirty-dot">&bull;</span></div>
            <div id="pc-15" class="preset preset-id">15<span class="dirty-dot">&bull;</span></div>
            <div id="pc-16" class="preset preset-id">16<span class="dirty-dot">&bull;</span></div>
        </div>

        <div id="library" class="mt-10 library closed">
            <div id="presets-lib" class="presets-lib flex-grow">
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="presets-right-col">

        <div class="presets-menu">
            <div class="preset-menu-wrapper flex-row">
                <div class="menu-entry flex-grow">
                    <a href="#" id="library-toggle">
                        <span id="library-toggle-label">Open library</span>
                    </a>
                </div>
            </div>
        </div>

        <div id="library-menu" class="presets-menu mt-10">
            <div class="preset-menu-wrapper lib-menu-grid">
                <div class="menu-entry span">
                    <a id="menu-compact-library" href="#">
                        <span class="menu-text">Compact</span>
                    </a>
                    <div class="tooltip tooltip-left hidden">
                        Compact the Library by removing the empty slots.<br/>
                        A minimum of 16 slots are always displayed, even if empty.
                    </div>
                </div>
<!--
                <div style="justify-self: right" class="flex-row">
                    <div class="menu-entry" id="Xlibrary-toggle-scroll-wrapper">
                        <a id="Xlibrary-toggle-scroll" href="#">
                            <i class="far fa-sticky-note"></i>
                        </a>
                        <div class="tooltip tooltip-right-0 hidden">
                            Show/hide the messages and description.
                        </div>
                    </div>
-->
                    <div class="menu-entry hidden" id="library-toggle-scroll-wrapper" style="justify-self:right">
                        <a id="library-toggle-scroll" href="#">
                            <i class="fas fa-arrows-alt-v"></i>
                        </a>
                        <div class="tooltip tooltip-right-0 hidden">
                            Enable/disabled the vertical scrollbar in the Library. This can help when the Library contains a lot of presets.
                        </div>
                    </div>
<!--
                </div>
-->
                <div class="menu-entry span-2">
                    <a id="menu-delete-presets" href="#">
                        <span class="menu-text">Delete all</span>
                    </a>
                    <div class="tooltip tooltip-left hidden">
                        Delete all unlocked presets from the Library.
                    </div>
                </div>
                <div class="menu-entry">
                    <a id="menu-load-preset" href="#" title="">
                        <i class="fas fa-arrow-left"></i> <span class="menu-text">sysex</span>
                    </a>
                    <div class="tooltip tooltip-left hidden">
                        Load preset(s) from SysEx file(s) and add them to the library.
                    </div>
                </div>
                <div class="menu-entry">
                    <a id="menu-download-sysex" href="#">
                        <i class="fas fa-arrow-right"></i> <span class="menu-text">sysex</span>
                    </a>
                    <div class="tooltip tooltip-left hidden">
                        Download the Library Presets as SysEx files (as one single zip-file).
                    </div>
                </div>
                <div class="menu-entry">
                    <a id="menu-import-device" href="#">
                        <i class="fas fa-arrow-left"></i> <span class="menu-text">M7</span>
                    </a>
                    <div class="tooltip tooltip-left hidden">
                        Read all Mercury7 presets and add them to the Library
                    </div>
                </div>
                <div class="menu-entry">
                    <a id="menu-copy-to-device" href="#">
                        <i class="fas fa-arrow-right"></i> <span class="menu-text">M7</span>
                    </a>
                    <div class="tooltip tooltip-left hidden">
                        Write Library Presets in Mercury7 memory
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="mg-border-right mg-row-border-top mg-row-border-bottom py-10"></div>