
/*
#main.settings-view {
    display: grid;
    grid-column-gap: 0.5vh;
    grid-row-gap: 0.5vh;
    grid-template-columns: repeat(6, 1fr);
}
*/

/*#app-preferences {*/
    /*grid-row: 3 / span 4;*/
    /*grid-column: 1 / span 6;*/
    /*color: var(--header-text);*/
/*}*/

/*
#global-settings .header,
#app-preferences .header {
    border-bottom: 1px solid #4b3f00;
    text-align: left;
}
*/

/*.grid-global-settings .header {*/
    /*text-align: left;*/
/*}*/

/*
.settings-rows {
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: start;
    justify-content: start;
    grid-column-gap: 20px;
    margin-bottom: 15px;
}
*/

/*
.g0 {
   margin: 15px 0 5px 0;
}

label {
    display: block;
}
*/
