
/* knob.js classes: */

.knob-bg {
    fill: url("#grad");
    /*stroke: var(--knob-back-border);*/
    stroke: #806b00;
}

/*
.knob-track-bg {
    stroke: var(--knob-back-track-color);
}
*/

.knob-value {
    font-weight: 300;
    stroke: none;
    fill: var(--knob-value);
}

.knob-cursor {
    stroke-linecap: butt;
}
