html {

    /* http://www.0to255.com/0059d7 */

    --mercury7-blue: #a28700;

    --body-bg-color: #111111;

    --messages-bg: #0000003b;
    --messages-color: #ddd;
    --messages-border: #999;

    --value: #f9d000;
    --dialog-link: #f9d000;

    --knob-back-border: #999;
    --knob-value: #ddd;

    --body-bg-from: #202023;
    --body-bg-to: #3E3E46;

    --title-text: #fff;
    --header-text: #fff;
    --header-shortcut-text: #ccc;

    --menu-icon: #a4caff;
    --menu-text: #a4caff;
    --menu-text-hover: #fff;

    --bt-color: #a4caff;
    --bt-border: #71acff;
    --bt-hover-color: #ffffff;
    --bt-hover-bg-color: #4f98ff;
    --bt-on-color: #ffffff;
    --bt-on-bg-color: #60a2ff;
    --bt-on-border: #cec5ff;

    --sw-color: #b3a1f1;
    --sw-on-color: #fff;
    --sw-on-shadow-color: #fff;

    --inset-shadow-color: #070707;

    --select-color: #e8f1ff;
    --select-bg: #004bb5;
    --select-border: #71acff;

    --on-color: #000;
    --midi-on: #000;
    --paused: #706c58;
    --running: red;

}

#wrapper {
    background: linear-gradient(to right, #60a2ff, #0059d7 1%, #0059d7 99%, #60a2ff);
}

#main > div {
    background: transparent;
}

.knob-bg {
    fill: url("#grad2");
    stroke: #000;
}

.knob-value {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    stroke: none;
    fill: var(--knob-value);
}

.knob-cursor {
    stroke-linecap: butt;
}
