
#wrapper.zoom-0 {width: 700px; margin: 10px auto 0 auto; padding: 0 10px 10px 10px; border-radius: 3px; }
#wrapper.zoom-1 {width: 1040px; margin: 20px auto 0 auto; padding: 0 10px 10px 10px; border-radius: 3px; }
#wrapper.zoom-2 {width: calc(100vw - 20px); height: calc(100vh - (0 * 5px)); margin: 0; padding: 0 10px 0 10px; }

#wrapper.zoom-2 #main.main-default { grid-template-rows: 40px 16vh repeat(3, calc((100vh - 40px - 20vh) / 3 )); }

.zoom-2 #title { padding: 4px 4px 0 4px; }
.zoom-2 #title .neon { font-size: 1.25rem; }

#wrapper.zoom-0 #main {font-size: 0.85rem; margin-top: 1vh; padding: 2px;}
#wrapper.zoom-1 #main {font-size: 1rem; padding: 3px;}
#wrapper.zoom-2 #main {font-size: 1rem; border-radius: 0; padding: 5px;}

#wrapper.zoom-0 #main > div { padding-bottom: 0; }
#wrapper.zoom-1 #main > div { padding-bottom: 5px; }
#wrapper.zoom-2 #main > div { padding-bottom: 5px; }

#wrapper.zoom-2 #main > div.grid-default { padding-top: 10px; }

.zoom-0 .menu {font-size: 0.85rem;}
.zoom-1 .menu {font-size: 1rem;}
.zoom-2 .menu {font-size: 1.25rem;}

.zoom-0 .menu span.menu-entry {margin-left: 10px;}
.zoom-1 .menu span.menu-entry {margin-left: 5px;}
.zoom-2 .menu span.menu-entry {margin-left: 10px;}

.zoom-0 .menu span.menu-text {display: none;}

.zoom-0 #options {font-size: 0.85rem;}
.zoom-1 #options {font-size: 1rem;}
.zoom-2 #options {font-size: 1.5rem;}

.zoom-2 #main select {font-size: 1rem;}

.zoom-0 .preset {padding: 5px 0; font-size: 1rem;}
.zoom-1 .preset {padding: 8px 0; font-size: 1.5rem;}
.zoom-2 .preset {padding: 8px 0; font-size: 2rem;}

.zoom-1 #messages { padding-bottom: 10px!important; }
.zoom-1 #options { padding-bottom: 10px!important; }
.zoom-1 #presets { padding-bottom: 10px!important; }

#wrapper.zoom-0 #messages-list { padding: 4px; height: 80px; border-radius: 3px; font-size: 0.80rem; }
#wrapper.zoom-1 #messages-list { padding: 4px 6px; height: 100px; border-radius: 4px; font-size: 0.9rem; }
#wrapper.zoom-2 #messages-list { padding: 6px; height: calc(16vh - 12px - 10px); border-radius: 6px; font-size: 1.15rem; }

.zoom-0 .header {font-size: 0.85rem;}
.zoom-1 .header {font-size: 1.25rem;}
.zoom-2 .header {font-size: 1.5rem;}

.zoom-0 .options-panel .header {font-size: 1.25rem;}
.zoom-1 .options-panel .header {font-size: 2rem;}
.zoom-2 .options-panel .header {font-size: 2.5rem;}

.zoom-0 .controls-options-grid { margin-top: 5px; grid-gap: 3px 3px; }
.zoom-1 .controls-options-grid { margin-top: 10px; grid-gap: 5px 5px; }
.zoom-2 .controls-options-grid { margin-top: 15px; grid-gap: 5px 5px; }

.zoom-0 .options { margin-top: 5px;  }
.zoom-1 .options { margin-top: 10px; }
.zoom-2 .options { margin-top: 15px; }

.zoom-0 .bt {margin: 0; padding: 1px 0; font-size: 0.85rem;}
.zoom-1 .bt {margin: 0; padding: 3px 0 2px 0; font-size: 1.25rem; }
.zoom-2 .bt {margin: 0; padding: 0 0; font-size: 1.5rem;}

.zoom-0 .stompswitch {font-size: 3rem; margin-top: 20px;}
.zoom-1 .stompswitch {font-size: 4rem; margin-top: 30px;}
.zoom-2 .stompswitch {font-size: 5rem; margin-top: 40px;}

.zoom-0 .knob {height: 80px; margin: 0;}
.zoom-1 .knob {width: 125px; margin: 0;}
.zoom-2 .knob {height: 16vh; margin: 0;}

.zoom-0 .knob-value {font-size: 125%;}
.zoom-1 .knob-value {font-size: 125%;}
.zoom-2 .knob-value {font-size: 125%;}
