
.icon-btn {
    width: 20px;
    color: var(--menu-link);
    cursor: pointer;
}

#global-settings .icon-btn {
    margin-left: 5px;
}

div.bt,     /* "radio button"-like switches */
div.btx,    /* EXP close button */
div.tgl {   /* toggle */
    text-align: center;
}

.preset,
.bt,
.btx,
.tgl {
    cursor: pointer;
    color: var(--bt-color);
    border: 1px solid var(--bt-border);
    background-color: var(--bt-bg-color);
}

.preset:hover,
.bt:hover,
.btx:hover,
.tgl:hover {
    color: var(--bt-hover-color);
    border: 1px solid var(--bt-hover-color);
    background-color: var(--bt-hover-bg-color)!important;
}

.bt.on,
.btx.on,
.tgl.on {
    background-color: var(--bt-on-bg-color)!important;
    color: var(--bt-on-color)!important;
    text-shadow: none;
    box-shadow: inset 0 0 5px var(--inset-shadow-color);
    border: 1px solid var(--bt-on-border);
}

.preset.sel {
    background: var(--preset-sel-bg-color);
    text-shadow: none;
    box-shadow: inset 0 0 5px var(--inset-shadow-color);
    border: 1px solid var(--bt-border);
}

/*
.preset.sel.on {
    background-color: var(--bt-on-bg-color)!important;
    color: var(--bt-on-color)!important;
    text-shadow: none;
    box-shadow: inset 0 0 6px var(--inset-shadow-color);
    border: 1px solid var(--bt-on-border);
}
*/
.preset.sel.comm-ok {
    background-color: var(--bt-on-bg-color)!important;
    color: var(--bt-on-color)!important;
    text-shadow: none;
    box-shadow: inset 0 0 5px var(--inset-shadow-color);
    border: 1px solid var(--bt-on-border);
}
#presets-lib .preset.sel.on {
    box-shadow: inset 0 0 3px var(--inset-shadow-color);
}

.on {
    color: var(--on-color)!important;
}

.led-on {
    color: var(--midi-on)!important;
}

.sw-off {
    display: none;
}

.sw-on {
    text-shadow: 0 0 8px var(--sw-on-shadow-color);
    color: var(--sw-on-color);
}

.inactive {
    opacity: 0.5;
}