.config {
}

.config select {
    border-radius: 3px;
    padding: 1px;
    font-size: 0.9em;
}

.config .panel .label {
    margin-left: 10px;
}
.config .panel select {
    margin-left: 5px;
    background-color: var(--select-bg);
}

.config .panel select.device {
    width: 150px;
}

.size-0 .config .panel select.device {
    width: 80px;
}

.size-1 .config .panel select.device {
    width: 176px;
}

.size-2 .config .panel select.device {
    width: 15vw;
}

.config .panel .label.midi-in2 {
    margin-left: 20px;
}

.config .midi-sync {
    display: flex;
}
.config .midi-sync {
    margin-left: 20px;
}
.config .midi-sync .menu-entry {
    margin-right: 10px;
}
