
*:focus {
    outline: none;
}

html {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    background: var(--body-bg-color);
}

/*--- utils: ---*/

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.on {
    color: var(--value)!important;
}

.error {
    color: red;
}

.grid-2x1 {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    justify-items: center;
}

.grid-2x1 .bt {
    width: 75%;
}

.grid-3x2 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
}

.grid-3x2 .bt {
    margin-bottom: 0;
}

/*
.grid-3x3 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}
*/

.lowercase {
    text-transform: lowercase!important;
}

.italic {
    font-style: italic!important;
}

.pt-5 {
    padding-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.bold-400 {
    font-weight: 400;
}

/*--- MENU ---*/

.menu-entry {
    position: relative;
}

.tooltip {
    position: absolute;
    top: 22px;
    /*left: 30px;*/
    left: 0;
    width: 160px;
    background-color: var(--tooltip-bg-color);
    opacity: 90%;
    padding: 8px;
    border-radius: 4px;
    /*font-size: 0.875rem;*/
    z-index: 100;
    color: var(--tooltip-color);
}

.tooltip-center {
    left: -80px;    /* tooltip width / 2 */
}

.tooltip-left {
    left: -150px;
}

.tooltip-right-0 {
    left: initial;
    right: 0;
}

.size-2 .tooltip {
    font-size: 1.7vw;
    width: 16vw;
    top: 44px;
}

.size-2 .tooltip-left {
    left: initial;
    top: 2.1vw;
    right: 66%;
}

.tooltip-top {
    top: initial;
    bottom: 22px;
}

.span-2 {
    grid-column: span 2;
}

.span-6 {
    grid-column: span 6;
}

.panel-title span {
    /*font-weight: bold;*/
}

.padding-0 {
    padding: 0!important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}

.align-right {
    text-align: right;
}

.closed {
    display: none;
}

.panel-content {
    padding: 40px;
}

.btn {
    margin-left: 10px;
    /*color: blue;*/
    color: var(--menu-link);
    cursor: pointer;
}
