<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="description" content="Control your Meris Mercury7 effect pedal directly from your web browser." />
    <meta name="author" content="François Georgy" />
    <meta property="og:title" content="Meris Mercury7 Editor by StudioCode.dev">
    <meta property="og:description" content="An editor for the Meris Mercury7 effect pedal. All you need, in addition to your Mercury7, is the Meris MIDI I/O interface, a MIDI interface in your computer and a browser supporting the WebMIDI standard.">
    <meta property="og:image" content="https://studiocode.dev/mercury7-editor/img/editor-1-0.jpg">
    <meta property="og:url" content="https://studiocode.dev/mercury7-editor/">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="An editor for the Meris Mercury7 effect pedal.">
    <title>Mercury7 Editor by StudioCode.dev</title>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700|Roboto+Condensed:300,400,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body class="size-1">

    <div id="wrapper">

        <div id="main-grid" class="main-default">

            <div class="mg-border-left mg-top-row mg-row-border-bottom py-5"></div>
            <div id="header" class="span-6 mg-top-row py-5 mg-row-border-bottom">
                <div class="flex-row app-title">
                    <div>
                        <span class="neon">MERCURY7 Editor</span>
                        <span class="">by <a href="https://studiocode.dev/" target="_blank" rel="noopener">StudioCode.dev</a></span>
                    </div>
                </div>
                <%= require('html-loader!./partials/menu.html') %>
            </div>
            <div class="mg-border-right mg-top-row mg-row-border-bottom py-5"></div>

            <%= require('html-loader!./partials/config.html') %>
<!--            <%= require('html-loader!./partials/info-panel.html') %>-->
            <%= require('html-loader!./partials/presets.html') %>
            <%= require('html-loader!./partials/controls.html') %>
            <%= require('html-loader!./partials/global-settings.html') %>

        </div>

    </div>

    <%= require('html-loader!./partials/dialogs.html') %>
    <%= require('html-loader!./partials/svg-gradients.html') %>

</body>
</html>
